img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}

.horizontal-container {
    padding: 30px;
    display: flex;
    justify-content: center;
}

#preview {
    background-color: rgb(250, 250, 250);
}