#main-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

h4 {
    text-align: center;
}

img {
    height: 50px;
    width: 50px;
}

#add-new-song {
    margin-top: 10px;
    margin-bottom: 20px;
}

