
<div id="main-container">

    <div class="banner">

        <div class="bannerTitle">
            <h1>lumberjxck</h1>
            <h5>handcrafted guitar loops</h5>
            <a href="https://open.spotify.com/playlist/6Z5DOZ1V53IjpnBECOwL99?si=e9d63a024ad043d8" target="_blank" rel="noopener noreferrer" 
            class="btn btn-success">Spotify</a>
            <a href="https://lumberjxck.beatstars.com/" target="_blank" rel="noopener noreferrer" 
            class="btn btn-light">Web Store</a>
        </div>
    
    </div>
    
    
    <h2>Worked with these Brands</h2>
    
    <div class="brands">
    
        <img src="././assets/img/heate.png" alt="heate">
        <img src="././assets/img/loveisland.png" alt="love island">
        <img src="././assets/img/sony.png" alt="sony">
        <img src="././assets/img/wavs.png" alt="wavs">
        <img src="././assets/img/warner.png" alt="wanrner">
    
    </div>
    
    <h2>Worked with these Artists</h2>
    
    <div class="placements"></div>
    
    <!-- 
    
        Artist Picture
        Zoom on Hover
        
    
     -->
    
    <song-view></song-view>


</div>

