
<div id="playing-song"></div>
<div class="song-slider">
    <div *ngFor="let song of songs | orderBy:'orderNumber'">
        <div *ngIf="song.showOnWebsite" class="card" #card style="width: 18rem;">
            <div class="image-border">
                <img class="card-img-top soft-border" src="{{ song.imageUrl }}" alt="Card image cap">
            </div>

            <div class="card-body">
                <h5 class="card-title"><a href="{{ song.spotifyLink }}" target="_blank" rel="noopener noreferrer">{{ song.title }}</a></h5>
                <p class="card-text"><small>
                        <ng-container *ngFor="let artist of song.artists; last as isLast">
                            <a href="{{ artist.spotifyProfileUrl }}" target="_blank" rel="noopener noreferrer">{{ artist.name }}{{ isLast ? '' : ', ' }}</a>

                        </ng-container>
                    </small></p>
                    <img [src]="song.isPlaying ? 'assets/img/pause button.png' : 'assets/img/play button.png'" class="play-button" alt="" (click)="playSong(song)">

                <audio #audioplayer [src]="'data:audio/mpeg;base64,' + song.soundPreview" preload="auto"></audio>
            </div>
        </div>
    </div>
</div>

