<button (click)="seedSongs()">Seed Songs</button>

<table>
    <tr>
        <th>Title</th>
        <th>Artists</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let song of songs">
        <td><a href="{{song.spotifyLink}}">{{song.title}}</a></td>
        <td>
            <div *ngFor="let artist of song.artists">
                {{artist.name}}
            </div>
        </td>
        <td>
            <img src="{{song.imageUrl}}" alt="" style="width:100px;">
        </td>
        <td><button>Edit</button></td>
        <td><button (click)="deleteSongById(song.id)">Delete</button></td>
    </tr>
</table>